<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ihyht.alyxjs.kfzpt.service.portal.rds.portal.mapper.QysswjXxzxTYwCgjhMapper">

    <resultMap type="com.ihyht.alyxjs.kfzpt.service.portal.rds.portal.model.QysswjXxzxTYwCgjh"
               id="QysswjXxzxTYwCgjhMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="cgjhmc" column="cgjhmc" jdbcType="VARCHAR"/>
        <result property="createtime" column="createtime" jdbcType="VARCHAR"  />
        <result property="creater" column="creater" jdbcType="VARCHAR"/>
        <result property="zt" column="zt" jdbcType="VARCHAR"/>
        <result property="bz" column="bz" jdbcType="VARCHAR"/>
    </resultMap>


    <!--String cgjhmc, Date qsrq, Date zzrq, int pageNum, int pageSize-->
    <!--查询单个-->
    <select id="queryYwLbwh" resultMap="QysswjXxzxTYwCgjhMap" parameterType="String">
        select
        id, cgjhmc, createtime, creater, zt, bz
        from qysswj_xxzx_t_yw_cgjh
        <where>
            1=1
            <if test="cgjhmc!=null and cgjhmc!=''">
                and cgjhmc like '%${cgjhmc}%'
            </if>
            <if test="qsrq!=null ">
                and createtime &gt;= #{qsrq}
                /* to_date(#{qsrq},'yyyy-MM-dd HH:mm:ss')*/

            </if>
            <if test="zzrq!=null ">
                and createtime &lt;= #{qsrq}
                -- to_date(#{zzrq},'yyyy-MM-dd HH:mm:ss')
            </if>
        </where>

        <!--<if test="pageNum>0">-->
        <!--limit ${(pageNum-1)*pageSize},${pageNum*pageSize}-->
        <!--</if>-->

    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="QysswjXxzxTYwCgjhMap">
        select
          id, cgjhmc, createtime, creater, zt, bz
        from aly_kfkjpx_test.qysswj_xxzx_t_yw_cgjh
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="QysswjXxzxTYwCgjhMap">
        select
        id, cgjhmc, createtime, creater, zt, bz
        from aly_kfkjpx_test.qysswj_xxzx_t_yw_cgjh
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="cgjhmc != null and cgjhmc != ''">
                and cgjhmc = #{cgjhmc}
            </if>
            <if test="createtime != null">
                and createtime = #{createtime}
            </if>
            <if test="creater != null and creater != ''">
                and creater = #{creater}
            </if>
            <if test="zt != null and zt != ''">
                and zt = #{zt}
            </if>
            <if test="bz != null and bz != ''">
                and bz = #{bz}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertCgjh">
        insert into qysswj_xxzx_t_yw_cgjh(cgjhmc, createtime, creater, zt)
        values (#{cgjhmc}, now(),'admin', '1' )
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update aly_kfkjpx_test.qysswj_xxzx_t_yw_cgjh
        <set>
            <if test="cgjhmc != null and cgjhmc != ''">
                cgjhmc = #{cgjhmc},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
            <if test="creater != null and creater != ''">
                creater = #{creater},
            </if>
            <if test="zt != null and zt != ''">
                zt = #{zt},
            </if>
            <if test="bz != null and bz != ''">
                bz = #{bz},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from aly_kfkjpx_test.qysswj_xxzx_t_yw_cgjh where id = #{id}
    </delete>

</mapper>
